/*! TACHYONS v4.6.1 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Normalize.css | http://normalize.css.github.io
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *    5. Button Rules
 */


/* External Library Includes */
@import '../node_modules/normalize.css';

/* Modules */
@import '../node_modules/tachyons-box-sizing';
@import '../node_modules/tachyons-aspect-ratios';
@import '../node_modules/tachyons-images';
@import '../node_modules/tachyons-background-size';
@import '../node_modules/tachyons-background-position';
@import '../node_modules/tachyons-outlines';
@import '../node_modules/tachyons-borders';
@import '../node_modules/tachyons-border-colors';
@import '../node_modules/tachyons-border-radius';
@import '../node_modules/tachyons-border-style';
@import '../node_modules/tachyons-border-widths';
@import '../node_modules/tachyons-box-shadow';
@import '../node_modules/tachyons-code';
@import '../node_modules/tachyons-coordinates';
@import '../node_modules/tachyons-clears';
@import '../node_modules/tachyons-display';
@import '../node_modules/tachyons-flexbox';
@import '../node_modules/tachyons-floats';
@import '../node_modules/tachyons-font-family';
@import '../node_modules/tachyons-font-style';
@import '../node_modules/tachyons-font-weight';
@import '../node_modules/tachyons-forms';
@import '../node_modules/tachyons-heights';
@import '../node_modules/tachyons-letter-spacing';
@import '../node_modules/tachyons-line-height';
@import '../node_modules/tachyons-links';
@import '../node_modules/tachyons-lists';
@import '../node_modules/tachyons-max-widths';
@import '../node_modules/tachyons-widths';
@import '../node_modules/tachyons-overflow';
@import '../node_modules/tachyons-position';
@import '../node_modules/tachyons-opacity';
@import '../node_modules/tachyons-rotations';
@import '../node_modules/tachyons-skins';
@import '../node_modules/tachyons-skins-pseudo';
@import '../node_modules/tachyons-spacing';
@import '../node_modules/tachyons-negative-margin';
@import '../node_modules/tachyons-tables';
@import '../node_modules/tachyons-text-decoration';
@import '../node_modules/tachyons-text-align';
@import '../node_modules/tachyons-text-transform';
@import '../node_modules/tachyons-type-scale';
@import '../node_modules/tachyons-typography';
@import '../node_modules/tachyons-utilities';
@import '../node_modules/tachyons-visibility';
@import '../node_modules/tachyons-white-space';
@import '../node_modules/tachyons-vertical-align';
@import '../node_modules/tachyons-hovers';
@import '../node_modules/tachyons-z-index';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import '../node_modules/tachyons-colors';
/* @import '../node_modules/tachyons-queries'; */

/* Debugging */
@import '../node_modules/tachyons-debug-grid';

/* Uncomment out the line below to help debug layout issues */
/* @import '../node_modules/tachyons-debug'../..*/

/* Button Rules */
.eh-btn {
  min-width: 140px;
  height: 3rem;
}

.eh-btn-primary {
  line-height: 2rem;
  min-width: 200px;
}

.eh-cta {
  min-width: 280px;
  height: 5rem;
}

/* FORMS */
/* Text Fields */
.eh-text-field {
    font-size: 1.125em;
}
.eh-text-field::-webkit-input-placeholder {
    color: gray;
    transition: 150ms;
}
.eh-text-field::-moz-placeholder {
    color: gray;
    transition: 150ms;
}
.eh-text-field:-ms-input-placeholder {
    color: gray;
    transition: 150ms;
}
.eh-text-field:-moz-placeholder {
    color: gray;
    transition: 150ms;
}
.eh-text-field:focus {}
.eh-text-field:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 150ms;
}
.eh-text-field:focus::-moz-placeholder {
    color: transparent;
    transition: 150ms;
}
.eh-text-field:focus:-ms-input-placeholder {
    color: transparent;
    transition: 150ms;
}
.eh-text-field:focus:-moz-placeholder {
    color: transparent;
    transition: 150ms;
}
.eh-text-field.disabled {
    border-color: #292f36;
    background: #1b1f24;
    color: #646e7b;
    cursor: not-allowed;
}
.eh-input-tooltip:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 8px 9px 8px;
    border-color: transparent transparent #ffffff transparent;
    content: '';
    position: absolute;
    left: 20px;
    top: -9px;
}
.eh-input-status-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    top: 1.25rem;
    right: 1.25rem;
}
/* Checkboxes & Radios */
.eh-checkbox input[type='checkbox'] {}
.eh-checkbox input[type='checkbox']:checked {}
.eh-checkbox input[type='checkbox']:checked + .eh-checkbox-icon {
    color: #1b1f24;
    background-color: #add960;
    border-color: #add960;
}
.eh-checkbox.disabled {
    color: #646e7b;
    cursor: not-allowed;
}
.eh-checkbox.disabled .eh-checkbox-icon {
    border-color: #434b56;
}
.eh-checkbox.disabled input[type='checkbox'] {}
.eh-checkbox.disabled input[type='checkbox']:checked {}
.eh-checkbox.disabled input[type='checkbox']:checked + .eh-checkbox-icon {
    background-color: #434b56;
    border-color: #434b56;
}
.eh-radio input[type='radio'] {}
.eh-radio input[type='radio']:checked {}
.eh-radio input[type='radio']:checked + .eh-radio-icon {
    background-color: #add960;
    border-color: #add960;
}
.eh-radio.disabled {
    color: #646e7b;
    cursor: not-allowed;
}
.eh-radio.disabled .eh-radio-icon {
    border-color: #434b56;
}
.eh-radio.disabled input[type='radio'] {}
.eh-radio.disabled input[type='radio']:checked {}
.eh-radio.disabled input[type='radio']:checked + .eh-radio-icon {
    background-color: #434b56;
    border-color: #434b56;
}
.eh-checkbox-icon, .eh-radio-icon {
    width: 21px;
    height: 21px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.eh-radio-icon {}
.eh-radio-icon:before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #1b1f24;
}


/* Card Rules */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.card-course,
.card-lesson,
.card-playlist {
  max-width: 380px;
}
.card-course.expanded-horizontal {
  max-width: 760px;
}

/* Course Card */
.card-course .card-play-btn {
  top: 50%;
  margin-top: -2rem;
}
.card-course:hover .card-play-btn {
  opacity: 1;
}
.card-course .card-progress-list-item {
  
}

/* Lesson Card */
.card-lesson .card-play-btn {
  top: 50%;
  margin-top: -2rem;
}
.card-lesson:hover .card-play-btn {
  opacity: 1;
}

/* Playlist Card */
.card-playlist .card-progress-list-item.viewed:before {
  border: 1px solid var(--turquoise);
  background: var(--turquoise);
}
.card-playlist .card-progress-list-item.viewed:after {
  border-color: var(--turquoise);
}
.card-playlist .card-progress-list-item.next:before {
  border-color: transparent transparent transparent var(--turquoise);
  box-shadow: 0 0 0 6px var(--tag-gray);
  background: var(--tag-gray);
}
.card-playlist .card-progress-list-item.next:hover:before {
  box-shadow: 0 0 0 6px var(--white);
  background: var(--white);
}
.card-playlist .card-play-btn {
  bottom: -2.5rem;
}


/* ------------- */
/* Miscellaneous */
/* ------------- */

/* Card Stacked Shadow */
.card-stacked-shadow {
  padding-bottom: 10px;
}
.card-stacked-shadow:before,
.card-stacked-shadow:after {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  border-radius: 5px;
}
.card-stacked-shadow:before {
  bottom: 5px;
  left: 9px;
  right: 9px;
  background: var(--gray);
  z-index: 1;
}
.card-stacked-shadow:after {
  bottom: 0px;
  left: 18px;
  right: 18px;
  background: var(--dark-gray);
  z-index: 0;
}

/* Card Progress List */
.card-progress-list-item {
  transition: 150ms;
}
.card-progress-list-item:before,
.card-progress-list-item:after {
  content: '';
  position: absolute;
  transition: 150ms;
}
.card-progress-list-item:before {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  background: var(--tag-gray);
  box-shadow: 0 0 0 1px var(--tag-gray);
  left: 20px;
  top: 22px;
  z-index: 2;
}
.card-progress-list-item:hover:before {
  background: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}
.card-progress-list-item.viewed {
  color: var(--gray); /* could be applied to markup as Tachyons class */
}
.card-progress-list-item.viewed:before {
  border: 1px solid var(--orange);
  background: var(--orange);
}
.card-progress-list-item:after {
  width: 1px;
  height: 100%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: var(--light-gray);
  left: 24px;
  top: 32px;
  z-index: 1;
}
.card-progress-list-item.viewed:after {
  border-color: var(--orange);
}
.card-progress-list-item.pre-next:after {
  border-style: dashed;
}
.card-progress-list-item.next:before {
  left: 21px;
  border-radius: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0px 6px 9px;
  border-color: transparent transparent transparent var(--orange);
}

/* Card Play Button */
.card-play-btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  left: 50%;
  margin-left: -34px;
  display: flex;
  transition: 150ms;
}
.card-play-btn:before {
  position: relative;
  left: 3px;
}
